/*
    Basic Styles
*/


@font-face {
    font-family: "quicksand_book";
    src: url("fonts/quicksand/Quicksand_Book.otf") format("opentype");
}
@font-face {
    font-family: "quicksand_light";
    src: url("fonts/quicksand/Quicksand_Light.otf") format("opentype");
}
@font-face {
    font-family: "poppins";
    src: url("fonts/poppins/Poppins-Regular.otf") format("opentype");
}
@font-face {
    font-family: "poppins_light";
    src: url("fonts/poppins/Poppins-Light.otf") format("opentype");
}


* {
    font-family: 'poppins_light', sans-serif;
}

body {
    /*background: #fafafa;*/
}

p {
    color: #999;
}

.pointer {
    cursor: pointer;
}

.navbar {
    /*padding: 15px 10px;*/
    /*background: #fff;*/
    border: none;
    border-radius: 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}


#main_nav_link > ul > li > a {
    color:#000;
    text-shadow: 1px 1px 0px #fff;
}

.navbar-brand {
    padding:0;
}

#navbar_logo {
    width: 20px;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


/* ---------------------------------------------------
    Card Styles
----------------------------------------------------- */

.card-header {
    text-transform: capitalize;
    display: flex;
    font-size: 1.15rem;
}

.card-header-btn-bar {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
}

/* ---------------------------------------------------
    Bootstrap Modification Styles
----------------------------------------------------- */


.dropdown-item {
    cursor: pointer;
}

.dropdown-item span.dropdown-item-icon {
    display: inline-block;
    width: 20px;
}

/* ---------------------------------------------------
    Datatables Styles
----------------------------------------------------- */


.dt_xs {width: 50px; max-width: 50px;}
.dt_sm {width: 100px; max-width: 100px;}
.dt_md {width: 50px; max-width: 50px;}


/* ---------------------------------------------------
    Loader Styles
----------------------------------------------------- */

#overlay_loader {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.09);
    z-index: 1000;
}

/*#overlay_loader, #overlay_loader * {
    transition: all 300ms ease;
}*/

#loader_content {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
}

#loader_content span {
  font-size: 5rem;
  float:right;
}
#loader_content .loader_text {
  display: none;
  font-size: 1rem;
  margin-bottom: 0;
  max-width: 768px;
}

